:root {
  --bright-blue: hsl(220, 98%, 61%);
  /* light theme */
  --light-gray: hsl(0, 0%, 98%);
  --very-light-gray-blue: hsl(236, 33%, 92%);
  --light-gray-blue: hsl(233, 11%, 84%);
  --dark-gray-blue: hsl(236, 9%, 61%);
  --very-dark-gray-blue: hsl(235, 19%, 35%);
  /* dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desat-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --grayish-blue: hsl(234, 11%, 52%);
  --dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url("https://todo-app-react-frontendmentor.netlify.app/bg-desktop-light.jpg") no-repeat top center;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans Variable', sans-serif;
  min-height: 100vh;
  width: 100vw;
}

body.dark {
  background: var(--very-dark-blue) url("https://todo-app-react-frontendmentor.netlify.app/bg-desktop-dark.jpg") no-repeat top center;
}

#root {
  width: min(90vw, 30rem);
}

header {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: space-between;
  padding-top: 2rem;
}

.logo {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.dark-mode-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.todo-wrap {
  width: 100%;
}

input[type="text"] {
  border: none;
  border-radius: 0.2rem;
  font-family: 'Josefin Sans Variable', sans-serif;
  font-size: 1rem;
  padding: 1.2rem;
  width: 100%;
}

.todo-list {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0;
}

body.dark .todo-list, body.dark input[type="text"] {
  background-color: var(--very-dark-desat-blue);
}

.todo-item {
  align-items: center;
  border-bottom: 1px solid var(--very-light-gray-blue);
  color: var(--very-dark-gray-blue);
  cursor: drag;
  display: flex;
  gap: 1rem;
  height: 4rem;
  padding: 1.3rem;
  width: 100%;
}

body.dark .todo-item {
  color: var(--light-grayish-blue);
}

.todo-item.dragging {
  opacity: 0.5;
}

/* Checkbox styling */

[type=checkbox] {
  width: 1.3rem;
  height: 1.3rem;
  color: hsl(192, 100%, 67%);
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

/* Checked */

[type=checkbox]:checked {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


.completed {
  color: var(--very-light-gray-blue);
  text-decoration: line-through;
}

.del-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin-left: auto;
  padding: 0;
}

.todo-item:hover > .del-button {
  display: block;
}

.todo-list-footer {
  align-items: center;
  color: var(--dark-gray-blue);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 1rem;
}

.filter-button-wrap {
  display: flex;
  gap: 1rem;
}

.todo-list-footer button {
  background: transparent;
  border: none;
  color: var(--dark-gray-blue);
  cursor: pointer;
  font-family: 'Josefin Sans Variable', sans-serif;
}

.todo-list-footer button:hover {
  color: var(--very-dark-gray-blue);
}

.tab-buttons {
  font-weight: 500;
}

.tab-buttons.active {
  color: var(--bright-blue);
}
